---
title: "Computational Journalism at Stanford University"
description: Move fast and make things
layout: home
---


# Computational Journalism

#### COMM 177A/277A



<div class="sitesearch"> 
 <%=partial '/layouts/site/sitesearch', locals: {search_id: config[:google_custom_search_id]} %>
 </div>



<div class="well">
  <%= partial 'content_partials/weeks/this_week' %>
  <%= link_to 'Todos', '/todos' %>

  <%= partial 'content_partials/weeks/past_weeks' %>
</div>



Official course description via the [Stanford Bulletin](https://explorecourses.stanford.edu/search?view=catalog&filter-coursestatus-Active=on&page=0&catalog=&academicYear=&q=computational+journalism&collapse=):

_Focuses on using data and algorithms to lower the cost of discovering stories or telling stories in more engaging and personalized ways. Project based assignments based on real-world challenges faced in newsrooms. Prior experience in journalism or computational thinking helpful. Prerequisite: Comm 273D, COMM 113/213, or the consent of instructor._

##### In a nutshell

This class is about how to intentionally use computational techniques to search for and collect information, to filter and reduce it to its most newsworthy components, and to publish our findings to the world. It is not a traditional computer science class, but programming is necessary to adeptly (and sanely) accomplish this work. It is not a traditional journalism class, but reporting and research is necessary to create civic and moral impact. 



<%= partial 'content_partials/syllabus/logistics' %>


## Syllabus and class structure

Ideally, a typical class session will look like this:

- We discuss case studies of real-world news or commercial data applications, including the niche it filled and the tradeoffs it made.
- I demonstrate a technical concept in brief. After class, students read/study provided notes and guides to do the homework.


The exact order of topics and readings are in flux but this is what I expect students to have by the end of this class:

- A pragmatic understanding of the Python programming language, including the use of functions, loops, and conditional-branching.
- The ability to produce and upload a static webpage and deploy a web application, and to know the difference between the two.
- The ability to parse and filter data from various text formats, including JSON and HTML.
- The ability to collect data from a variety of sources, including web scraping and APIs.
- The recognition of algorithms in human thinking and decision-making
- An informed skepticism of data.




